{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<main id="content">

  <header class="jumbotron jumbotron-fluid text-center mb-0">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-6">
          <h1 class="display-3 mb-4">
            {{- .Title -}}
          </h1>
          <time datetime="{{ (.Date.Format "2006-01-02 15:04:05 MST") | safeHTML }}">
            {{- .Date.Format "02/01/2006" -}}
          </time>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 py-5 single-content">
        {{- .Content -}}
      </div>
    </div>
  </div>

</main>

{{ partial "footer.html" . }}
