{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<main id="content">
  {{ partial "jumbotron.html" . }}

  <!-- Recent Articles -->
  {{ partial "recent-articles.html" . }}
  <!-- / Recent Articles -->

  <!-- Poppy -->
  {{ partial "poppy.html" . }}
  <!-- / Poppy -->

  <!-- Partners -->
  {{ if isset $.Site.Data.Partners "partners" -}}
    {{ partial "partners.html" . }}
  {{- end }}
  <!-- / Partners -->

  <!-- Contact Form -->
  {{ if $.Site.Params.contactForm }}
    {{ partial "contact-form.html" . }}
  {{ end }}
  <!-- / Contact Form -->

</main>

{{ partial "footer.html" . }}
