{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<main class="content">
  <div class="container">

    <header class="row">
      <div class="col-lg-12 text-center">
        <h1 class="py-5">{{ .Title }}</h1>
      </div>
    </header>

    <div class="row justify-content-center">
      <ul class="list-group list-group-flush col-md-8 col-lg-10 p-3 mb-5">
        {{ range .Data.Pages -}}
        <li class="list-group-item list-group-item-action p-0">
          {{ .Render "list-item" }}
        </li>
        {{- end }}
      </ul>
    </div>

  </div>
</main>

{{ partial "footer.html" . }}
