@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local("system-ui"), local(".SFNSText-Light"), local("Segoe UI"),
    local("Roboto"), local("Oxygen-Sans"), local("Ubuntu"), local("Cantarell"),
    local("Helvetica Neue");
}

:root {
  font-family: Roboto, system, "sans serif";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 16rem 9rem;
  }
}

section {
  padding: 100px 0;
}

.single-content > *,
.single-content figure,
.single-content img,
.single-content video,
.single-content iframe,
.single-content embed {
  max-width: 100%;
}

.site-footer {
  font-size: 0.875rem;
}

.recent-articles .list-group-item:first-child,
.recent-articles .list-group-item:last-child {
  border-radius: 0;
}
