
<footer class="px-4 py-3 bg-light text-center site-footer">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-4">
        © {{ $.Site.Params.company }}
      </div>

      <div class="col-md-4">
        {{ partial "social.html" . }}
      </div>

      <div class="col-md-4">
        {{ partial "footer-links.html" . }}
      </div>

    </div>
  </div>
</footer>

{{ template "_internal/google_analytics.html" . }}

{{ "<!-- Build date: " | safeHTML }}{{ (now.Format "Mon, 02 Jan 2006 15:04:05 MST") | safeHTML }}{{ " -->" | safeHTML }}

</body>
</html>
