<section class="who bg-light">
  <div class="container">
    <div class="row text-center justify-content-center">

      <div class="col-lg-4 col-md-8 mb-3 mb-md-5">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-robot fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="my-4 font-weight-bold">Poppy Project</h3>
        <p class="font-weight-light">La communauté Poppy développe des robots faciles à construire, à personnaliser et à partager.</p>
        <div class="my-3">
          <a href="https://www.poppy-project.org/" class="btn btn-outline-secondary btn-sm rounded-0">Découvrir Poppy Project</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-8 mb-3 mb-md-5">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="my-4 font-weight-bold">Poppy Education</h3>
        <p class="font-weight-light">C’est la plateforme robotique Poppy et des activités pédagogiques ! Apprenez, créez, et enseignez avec Poppy Education</p>
        <div class="my-3">
          <a href="https://www.poppy-project.org/" class="btn btn-outline-secondary btn-sm rounded-0">Poppy Éducation</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-8 mb-3 mb-md-5">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="my-4 font-weight-bold">Membres</h3>
        <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, culpa recusandae quos nesciunt vitae debitis
          soluta neque.</p>
        <div class="my-3">
          <a href="https://www.google.fr/" class="btn btn-outline-secondary btn-sm rounded-0">Aller sur google.fr</a>
        </div>
      </div>

    </div>
  </div>
</section>
